<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <%- include('../partials/sideMenuDr.ejs'); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../partials/top_nav.ejs'); %>
          <!-- End of Topbar -->
          <%- include('../partials/messages.ejs'); %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card-body">
                <div class="row">
                  <div id="details" class="card col-md-5 ml-3 p-5 align-items-center">
                    <div id="profile-image" class="col-md-4 d-flex">
                      <img src="<%=user.imageUrl%>" class="mb-3 w-100"></img>
                    </div>
                    <a href="" class="text-muted mb-5" data-toggle="modal" data-target="#changePhotoModal"><i
                        class="fa fa-camera"></i> Change Photo</a>
                    <div class=" hvr-grow-shadow"><b style="font-size: 30px;">
                        <%=user.name%>
                      </b></div>

                    <!-- <li class="list-group-item"><a href="" class="btn btn-success mb-2" data-toggle="modal" data-target="#updateProfileModal">Update Profile</a></li> -->

                  </div>
                  <div id="details" class=" col-md-5 ml-5 align-items-begin h5">
                    <div class="mb-4 hvr-grow-shadow"><b>Name :</b>
                      <%=user.name%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Email :</b>
                      <%=user.email%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Gender :</b>
                      <%=user.gender%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Experience :</b>
                      <%=user.experience%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Speciality :</b>
                      <%=user.speciality%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Qualification :</b>
                      <%=user.qualification%>
                    </div>
                    <div class=" mb-4 hvr-grow-shadow"><b>Joined :</b>
                      <%=user.date.toDateString()%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!--Change Photo Modal-->
<div class="modal fade" id="changePhotoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="changePhotoModalLabel">
          Change Photo
        </h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/doctor/change_avatar" enctype="multipart/form-data">
          <div class="form-group">

            <input type="file" name="image" class="form-label">
          </div>
          <input type="submit" class="btn btn-sm btn-primary m-2" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>